
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cosmocats
    username: cosmocats
    password: cosmocats
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

app:
  features:
    cosmoCats: false
    kittyProducts: false
